INKWRX Mobile/INKWRX_Mobile/Service References/ServiceCenter/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://destinywireless.com/" elementFormDefault="qualified" targetNamespace="http://destinywireless.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DestInputMsg">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DestRespMessage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="Date" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Data" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>